// make a new font with font-face
@font-face {
  font-family: "breakingBad";
  src: local("breakingBad"), url("../fonts/breaking.ttf") format("truetype");
}

$color-primary: #171617;
$color-secondary: #e21a1a;
$color-accent: #ef5533;
$font-family: "breakingBad";
