@use "variables";

/* Imports */
@import "characters";
@import "character";

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: variables.$color-primary;
}
